<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!--Icon Bootstrap-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <!--My Own CSS-->
    <link rel="stylesheet" href="/static/desajono/style/style.css?{% now "u"="" %}"="">
    <!--JQuery-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Bootstrap Javascritpt-->
    <script src="//cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="//code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <style>
        #news p {
            margin-top: 20px;
        }
    </style>
    <title>Desa Jono</title>
  </head>
  <body id="main">

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark shadow fixed-top" style="background-color: #00003a;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">Desa Jono Temayang</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" id="home_nav" aria-current="page" href="{% url 'index' %}#home">Beranda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id ="about_nav" href="{% url 'index' %}#profil">Profil Desa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="project_nav" href="{% url 'index' %}#potensi">Potensi Desa</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" id="contact_nav" href="{% url 'index' %}#news">Berita Desa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="project_nav" href="{% url 'technopark' %}"><b>Technopark</b></a>
              </li>
              <li class="nav-item">
                    <button class="btn btn-custom-login" id="login">Admin Site</button>
                </form>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    <!--End Navbar-->

    <!--Isi Berita-->
    <section id="news-item">
      <div class="container mt-3 d-block justify-content-center text-center">
        {% if content %}
        <h1 style="text-align: center; margin: 20px auto;">{{content.title}}</h1>
        <p><b>Created by : </b>{{content.author}} at {{content.publication_date}}</p>
        
      </div>
      <div class="d-flex justify-content-center">
        <img class="content-image" src={{content.img.url}} alt="...">
      </div>
      <div class="container">
        <p>{{content.full_text|linebreaks}}</p>
        
      </div>
      {%endif%}
    </section>
    <!--End Isi Berita-->

        <!--Kolom Komentar-->
        <section id="comment">
          <div class="container d-block">
            {% if new_comment %}
          <div class="alert green">
            <h1>Terima kasih sudah memberikan berkomentar</h1>
            <p>Komentar anda akan dimoderasi sebelum ditampilkan ke pembaca.</p>
          </div>
          {%else%}
            <h1 class="mb-4">Tulis Komentar Anda</h1>
            <form class="justify-content-center" method="POST">
            {% csrf_token %}
              <div class="form-group row">
                <label for="nama" class="col-sm-2 col-form-label">Nama</label>
                <div class="col-sm-5">
                   {{ comment_form.name }}
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-5">
                  {{ comment_form.email }}
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Your Comment</label>
                <div class="col-sm-5">
                  {{comment_form.body}}
                </div>
              </div>
              <div class="d-flex justify-content-center mt-3 col-8">
                <button type="submit" class="btn-custom submit">Submit</button>
              </div>
            </form>
            {% endif %}
          </div>
        </section>
        <!--End Kolom Komentar-->


        <!--Kumpulan Komentar-->
        <section id="comment-column">
          <div class="container">
          <!--Kalau ada yang berkomentar-->
          {%if comments%}
          {% for comment in comments %}
          <div class="comment-box-list">
            <p>
              <b>{{ comment.name }}</b>
              <span>
                {{ comment.created_on }}
              </span>
            </p>
            {{ comment.body | linebreaks }}
          </div>
          {% endfor %}
          {% else %}
          <div class="alert blue">
            <h1>Belum ada yang berkomentar</h1>
            <p>Jadilah yang pertama memberi komentar</p>
          </div>
          {% endif %}
        </div>
      </section>
        
        <!--End Kumpulan Komentar-->





    <!--Berita-->
    <section id="news">
      <div class="container">
        <div class="row">
          <div class="col">
            {% if content.status == 1 %}
            <h2 class="text-center mt-2">Berita Lainnya</h2>
            {% elif content.status == 2 %}
            <h2 class="text-center mt-2">Informasi Penting Lainnya</h2>
            {% elif content.status == 3 %}
            <h2 class="text-center mt-2">Potensi Lainnya</h2>
            {%endif%}
          </div>
        </div>
      <div class="row justify-content-center fs-5 mt-2">
        {% if another_content %}
              {% for c in another_content %}
                {% if c.status == content.status and c.slug != content.slug %}
                  <div class="card" onclick="redirect(`{{c.publication_date.year}}`, `{{c.publication_date.month|stringformat:'02d'}}`, `{{c.slug}}`)">
                    <img src="{{c.img.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{c.title}}</h5>
                      <p class="card-text">{{c.full_text}}</p>
                      <!--<p class="card-text"><b>{{c.author}}</b><br> {{c.publication_date}}</p>-->
                    </div>
                  </div>
                {% endif %}
            {% endfor %}
        {% else %}
        <div class="text-center mt-5" style="background-color: rgb(126, 1, 1);;padding: 15px 10px;border-radius: 10px;color:white">
            <h2>Oops</h2>
            <p>Sepertinya belum ada konten lainnya.</p>
        </div>
        {% endif %}
      </div>
      </div>
    </section>
    <!--End Proker-->




    <!--Footer-->
    <div id='footer'></div>
    <!--End Footer-->
    
    
    <script src="/static/desajono/js/index.js?{% now "u"="" %}"=""></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi1yApOeuQiVAeoF1THc8B9wt2heWFJuU&callback=myMap"></script>-->

    </body>
</html>
