<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!--Icon Bootstrap-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <!--My Own CSS-->
    <link rel="stylesheet" href="{% static 'style/style.css' %}?{% now "u"="" %}"="" >
    <!--JQuery-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Bootstrap Javascritpt-->
    <script src="//cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="//code.iconify.design/1/1.0.7/iconify.min.js"></script>
    
    <title>Desa Jono</title>
  </head>
  <body id="main">

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark shadow fixed-top" style="background-color: #00003a;">
        <div class="container-fluid">
          <a class="navbar-brand" href="">Desa Jono Temayang</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" id="home_nav" aria-current="page" href="#home">Beranda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id ="about_nav" href="#profil">Profil Desa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="project_nav" href="#potensi">Potensi Desa</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" id="contact_nav" href="#news">Berita dan Informasi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="project_nav" href="{%url 'technopark' %}"><b>Technopark</b></a>
              </li>
              <li class="nav-item">
                    <button class="btn btn-custom-login" id="login">Admin Site</button>
                </form>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    <!--End Navbar-->

    <!--Carousel-->
      <section id="home">
        <div id="carousel-new" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-new" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-new" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel-new" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'img/Gambar Desa.jpg' %}" class="d-block w-100 bigimg" alt="Selamat Datang" data-bs-interval="3000">
              <div class="carousel-caption d-none d-md-block">
                <h5>Selamat Datang di Desa Jono</h5>
                <p>Desa Jono terdapat di Kecamatan Temayang, Bojonegoro, Jawa Timur</p>
              </div>
            </div>
            {% if content_in_carousel %}
              {% for c in content_in_carousel %}
                  <div class="carousel-item">
                  <img src="{{c.img.url}}" class="d-block w-100 bigimg" alt="{{c.title}}" onclick="redirect('{{c.publication_date.year}}', `{{c.publication_date.month|stringformat:'02d'}}`, '{{c.slug}}')">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>{{ c.title }}</h5>
                    <p>By : <b>{{c.author}}</b> | {{c.get_publication_date}} </p>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
          
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel-new" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel-new" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
    <!--End Carousel-->

    <!--Profil Desa-->
    <section id="profil">
      <div class="container mt-3">
        <div class="row">
          <div class="col-sm-8">
            <h1>Profil Desa</h1>
            <div class="profile-content mt-3">
              <p>Jono merupakan desa terluas di Kecamatan Temayang yang terletak di perbatasan antara Bojonegoro dan Nganjuk. 
                Di sebelah utara, Jono berbatasan dengan Desa Buntalan. 
                Sedangkan sebelah selatan berbatasan dengan Desa Bakulan, di barat berbatasan dengan Desa Ngoro Gunung dan sebelah timur dengan Desa Belun. 
                Desa ini memiliki luas wilayah 1.021.848 Ha yang terbagi menjadi Dusun Krajan, Dusun Ngabar, Dusun Nguncaran dan Dusun Kajangan. 
                Secara topografi, 80 persen dari wilayah Jono merupakan wilayah dataran dan 20 persen lainnya bergelombang. 
                Dengan luas wilayahnya, Jono memiliki sumber daya alam yang melimpah seperti lahan tadah hujan seluas 220.770 Ha, lahan tegalan seluas 163.175 Ha, 
                hutan yang belum terkontaminasi seluas 525.7 Ha, dan tambang Foos Fat seluas 84 Ha.
              </p>
                <button type="button" class="btn-custom read-more" data-bs-toggle="modal" data-bs-target="#profile-popup">
                  Baca Selengkapnya
                </button>
            </div> 
          </div>
          <div class="col-sm-4">
            <img class="card-img-top justify-content-center villimg rounded" src="{% static 'img/Gambar Desa.jpg' %}" alt="Gambar Desa" style="vertical-align: center;">
          </div>
        </div>
      </div>
    </section>
    <!--End Profil Desa-->

        <!-- Modal -->
        <div class="modal fade" id="profile-popup" role="dialog">
          <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
              <div class="modal-header justify-content-center">
                <h1 style="text-align: center;">Profil Desa</h1>
              </div>
              <div class="modal-body">
                <h2 style="text-align: center;">Sekilas tentang desa Jono</h2>
                <img src="{% static 'img/Gambar Desa.jpg' %}" class="d-block w-100 bigimg" alt="..." data-bs-interval="5000">
                <p>Jono merupakan desa terluas di Kecamatan Temayang yang terletak di perbatasan antara Bojonegoro dan Nganjuk. 
                  Di sebelah utara, Jono berbatasan dengan Desa Buntalan. 
                  Sedangkan sebelah selatan berbatasan dengan Desa Bakulan, di barat berbatasan dengan Desa Ngoro Gunung dan sebelah timur dengan Desa Belun. 
                  Desa ini memiliki luas wilayah 1.021.848 Ha yang terbagi menjadi Dusun Krajan, Dusun Ngabar, Dusun Nguncaran dan Dusun Kajangan. 
                  Secara topografi, 80 persen dari wilayah Jono merupakan wilayah dataran dan 20 persen lainnya bergelombang. 
                  Dengan luas wilayahnya, Jono memiliki sumber daya alam yang melimpah seperti lahan tadah hujan seluas 220.770 Ha, lahan tegalan seluas 163.175 Ha, 
                  hutan yang belum terkontaminasi seluas 525.7 Ha, dan tambang Foos Fat seluas 84 Ha.
                  
                  <br>Di wilayah Jawa Timur, Jono terkenal akan potensi ternaknya. Hal ini dikarenakan adanya banyak kelompok ternak seperti Kedung Gondang, Embong, Purajaya dan Maeso Jenar. 
                Jumlah seluruh ternak yang ada di desa ini sekitar 273 ekor. Karena potensi ternaknya, desa ini dikenal sebagai desa wisata. 
                Sebagai desa wisata, Jono tentunya memiliki begitu banyak panorama alam yang dapat dinikmati sebagai lokasi wisata. 
                Hamparan bukit, hutan dan sumber air memberi corak wisata yang bermacam-macam di setiap wilayahnya.
                Terdapat dua sendang yang biasa dikunjungi masyarakat sekitar, yaitu Sendang Templek dan Sendang Giling wesi. 
                Sebagai sendang, Templek dan Giling wesi memiliki air yang jernih sehingga sering digunakan sebagian masyarakat untuk mandi atau sekedar bermain air. 
                Jono juga memiliki empat gua yang berada di wilayah hutan.

                <br>Selain sendang, desa ini memiliki 3 goa yang dapat dikunjungi, yaitu Goa Dandang, Goa Ubusan, dan Goa Lanang. 
                Letak ketiganya saling berdekatan dan berada pada satu jalur pendakian sehingga pengunjung dapat mengunjunginya ketiganya dalam satu waktu. 
                Ketiga goa ini berada di dalam hutan sehingga memberikan pengalaman yang berbeda dan unik ketika berkunjung.

                <br>Desa Jono juga memiliki keanekaragaman seni dan budaya, serta adat dan tradisi. Salah satu kesenian khas Jono adalah Tayub, yaitu tarian tradisional yang biasa dimainkan pada waktu-waktu tertentu. 
                Desa ini juga memiliki beberapa kelompok karawitan yang mengiringi tarian Tayub. 
                Selain itu, Desa Jono juga memiliki 4 sanggar batik yang terletak di Dusun Kajangan, Dusun Nguncaran, dan dua kelompok di Dusun Krajan.
                
                </p>
                  <h2>Visi dan Misi Desa Jono</h2>
                  <h3>Visi Desa Jono</h3>
                  <p>Visi Desa Jono adalah sebagai berikut : </p>
                  <h3>Misi Desa Jono</h3>
                  <p>Misi Desa Jono adalah sebagai berikut : </p>

                  <h2>Sejarah Desa Jono</h2>
                  <p>Pada jaman dahulu kala ada seorang Raja bernama Wora – wari. 
                    Ia mempunyai wilayah kekuasaan yang sangat luas namun masih dibawah pemerintahan Kerajaan Malowopati dengan Raja Angling Darmo. 
                    Beliau termasuk Raja yang patuh terhadap Raja Angling Darmo. </p>
                  <p>Selain disenangi Nayoko Projo di Malowopati, Raja Wora-Wari juga di cintai kawulanya, sebab ia bisa menciptakan daerahnya menjadi gemah ripah loh jinawi.</p>
                  <p>Namun dalam perjalanan waktu datanglah seorang raja yang bernama Raja Dongkol yang selalu bikin onar. 
                    Ia ingin merebut istri Raja Wora–wari.</p>
                  <p>Karena Raja Wora – wari mempertahankan istri dan harga diri sebagai seorang Raja, terjadilah peperangan antara Raja Wora –Wari dan Raja Dongkol. 
                    Raja Wora –wari terbunuh dalam peperangan ini, dan istrinya pun menjadi milik Raja Dongkol walau sebetulnya istri Raja Wora–wari tidak mencintai Raja Dengkol 
                    sebab selain jahat ia juga berwajah jelek dan kakinya cacat.</p>
                  <p>Dalam keadaan terpaksa istri Raja Wora-wari menuruti yang dikehendaki Raja Dongkol dengan satu permintaan, yaitu Raja Dongkol harus mau menerima anak yang dikandungnya seperti anaknya sendiri. 
                    Raja Dongkol menurutinya. </p>
                  <p>Hari berganti hari, minggu pun berlalu, bulan menjadi tahun dan tahun pun telah berganti. 
                    Anak istri Raja Wora–wari telah menginjak usia remaja ia diberi nama Bondan Kejawan dan ia telah mengetahui bahwa ayah kandungnya telah meninggal dunia karena dibunuh oleh Raja Dongkol ayah tirinya.</p>
                  <p>Setelah tahu cerita kematian ayah kandungnya, Bondan Kejawan ingin membalas dendam. 
                    Atas saran dan petunjuk bekas abdi dalem Raja Wora–wari yang bernama Raden Bagus Sujono, Bagus Alus, dan Demang Kajangan, ia pun menyusun rencana untuk membunuh Raja Dongkol. </p>
                  <p>Raja Dongkol pun dapat ditaklukkan dan terbunuh. 
                    Yang menaklukkan adalah Ki Gede Mangsong dengan bantuan dari Raden Bagus Sujono.</p>
                  <p>Seiring waktu, orang–orang yang bisa menaklukkan Raja Dongkol tersebut dianggap berjasa oleh pemerintahan Malowopati dan diberi Kamokten (kenikmatan) di kerajaan Malowopati. Dari sekian orang itu, ada satu yang tidak mau, yaitu Raden Bagus Sujono. Ia lebih memilih hidup dengan rakyat kecil sampai akhir hayatnya. 
                    Setelah ia meninggal, daerah sekitar makamnya diberi nama Jono, sampai sekarang orang menyebutnya sebagai Desa Jono. </p>
                  <p>(Sumber : http://kimlisanpuro.blogspot.com/2014/05/sejarah-singkat-desa-jono.html)</p>
                  </div>
                <div class="modal-footer justify-content-center">
                  <button type="button" class="btn btn-custom-modal" data-bs-dismiss="modal" style="display: inline;">Close</button>
                </div>
            </div>
          </div>
        </div>
      <!--End Modal-->




    <!--Potensi Desa-->
    <section id="potensi">
      <div class="container">
        
        <h1 class="potensi-desa">Potensi Desa</h1>
        
        {% if potensi %}
        <div class="row row-cols-3 mb-2 d-block">
            {% for c in potensi %}
              <div class="col potensi">
                <img src="{{c.img.url}}" class="grid_potensi img-thumbnail" onclick="redirect('{{c.publication_date.year}}', `{{c.publication_date.month|stringformat:'02d'}}`, '{{c.slug}}')">
              </div>
          {% endfor %}
        </div>
        {% else %}
        <div class="text-center mt-5" style="background-color: rgb(126, 1, 1);;padding: 15px 10px;border-radius: 10px;color:white;display: block;">
            <h2>Oops</h2>
            <p>Sepertinya belum ada potensi desa yang dituliskan. Silahkan menghubungi admin.</p>
        </div>
        {% endif %}
      </div>
    </section>
    <!--End Potensi Desa-->


    <!--Berita-->
    <section id="news">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="text-center mt-2">Berita Terbaru</h2>
          </div>
        </div>
      <div class="row justify-content-center fs-5 mt-2">
        {% if news_content %}
              {% for c in news_content %}
                  <!--Card 1-->
                  <div class="card" onclick="redirect(`{{c.publication_date.year}}`, `{{c.publication_date.month|stringformat:'02d'}}`, `{{c.slug}}`)">
                    <img src="{{c.img.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{c.title}}</h5>
                      <p class="card-text">{{c.full_text}}</p>
                    </div>
                  </div>
            {% endfor %}
        
            <!--Berita Lainnya-->
            <nav aria-label="Page navigation example" class="pagination-navbar">
              {% if news_content.has_other_pages %}
              <ul class="pagination">
                {% if news_content.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <!--<span class="sr-only">Previous</span>-->
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="?page={{ news_content.previous_page_number }}#news" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <!--<span class="sr-only">Previous</span>-->
                  </a>
                </li>
                {% endif %}
                {% for i in news_content.paginator.page_range %}
                  {% if news_content.number == i %}
                  <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}#news">{{i}}</a></li>
                  {% endif %}
                {% endfor %}
                {% if news_content.has_next %}
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <!--<span class="sr-only">Next</span>-->
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="?page={{ news_content.next_page_number }}#news" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <!--<span class="sr-only">Next</span>-->
                  </a>
                </li>
                {% endif %}
              </ul>
              {% endif %}
            </nav>
            {% else %}
            <div class="text-center mt-5" style="background-color: rgb(126, 1, 1);;padding: 15px 10px;border-radius: 10px;color:white;display: block;">
              <h2>Oops</h2>
              <p>Sepertinya belum ada berita yang dituliskan. Silahkan menghubungi admin.</p>
            </div>
            {% endif %}
            <!--End Berita Lainnya-->
            
            
      </div>
      
      </div>
    </section>
    <!--End Berita-->


        <!--Informasi Penyuluhan-->
        <section id="information">
          <div class="container">
            <div class="row">
              <div class="col">
                <h2 class="text-center mt-2">Informasi Penting</h2>
              </div>
            </div>
          <div class="row justify-content-center fs-5 mt-2">
            {% if information_content %}
                  {% for c in information_content %}
                      <!--Card-->
                      <div class="card" onclick="redirect(`{{c.publication_date.year}}`, `{{c.publication_date.month|stringformat:'02d'}}`, `{{c.slug}}`)">
                        <img src="{{c.img.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{c.title}}</h5>
                          <p class="card-text">{{c.full_text}}</p>
                          <!--<p class="card-text"><b>{{c.author}}</b><br> {{c.publication_date}}</p>-->
                        </div>
                      </div>
                      <!--End Card-->
                {% endfor %}
                <nav aria-label="Page navigation example" class="pagination-navbar">
                  {% if information_content.has_other_pages %}
                  <ul class="pagination">
                    {% if information_content.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ information_content.previous_page_number }}#information" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <!--<span class="sr-only">Previous</span>-->
                      </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <!--<span class="sr-only">Previous</span>-->
                      </a>
                    </li>
                    {% endif %}
                    {% for i in information_content.paginator.page_range %}
                      {% if information_content.number == i %}
                      <li class="page-item active"><a class="page-link">{{i}}</a></li>
                      {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}#information">{{i}}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if information_content.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ information_content.next_page_number }}#information" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <!--<span class="sr-only">Next</span>-->
                      </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <!--<span class="sr-only">Next</span>-->
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                  {% endif %}
                  
                </nav>
                {% else %}
                <div class="text-center mt-5" style="background-color: rgb(126, 1, 1);;padding: 15px 10px;border-radius: 10px;color:white;display: block;">
                  <h2>Oops</h2>
                  <p>Sepertinya belum ada berita yang dituliskan. Silahkan menghubungi admin.</p>
                </div>
                {% endif %}
          </div>
          </div>
        </section>
        <!--End Penyuluhan-->

        


    <!--Footer-->
    <div id='footer'>
    </div>
    <!--End Footer-->
    
    
    <script src="{% static 'js/index.js' %}?{% now "u"="" %}"=""></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi1yApOeuQiVAeoF1THc8B9wt2heWFJuU&callback=myMap"></scrip>-->

    </body>
</html>
