<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!--Icon Bootstrap-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <!--My Own CSS-->
    <link rel="stylesheet" href="{% static 'style/style.css' %}?{% now "u"="" %}"="" >
    <!--JQuery-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Bootstrap Javascritpt-->
    <script src="//cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="//code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <title>Technopark Desa Jono</title>
  </head>
  <body id="main">

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark shadow fixed-top" style="background-color: #00003a;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">Desa Jono Temayang</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                    <button class="btn btn-custom-login" id="login">Admin Site</button>
                </form>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    <!--End Navbar-->

    <!--Carousel-->
      <section id="carousel-home">
        <div id="technopark-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'img/Selamat Datang.png' %}" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </section>
    <!--End Carousel-->

    <!--Profil Desa-->
    <section id="profil">
      <div class="container mt-3 justify-content-center" style="text-align: center;">
            <h1>Sekilas Tentang Technopark</h1>
            <div class="profile-content mt-3">
              <p>Technopark Desa Jono diciptakan untuk ...</p>
            </div>
        </div>
    </section>
    <!--End Profil Desa-->




    <!--Potensi Desa-->
    <section id="potensi">
      <div class="container">
      </div>
    </section>
    <!--End Potensi Desa-->


    <!--Proker-->
    <section id="news">
     <!--<div class="container">
        <div class="row">
          <div class="col">
            <h2 class="text-center mt-2">Berita Terbaru</h2>
          </div>
        </div>-->
      <!--<div class="row justify-content-center fs-5 mt-2">-->
        <!--Card 1-->
        <!--<div class="card">
          <img src="../img/Contoh 2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button href="#" class="btn-custom">Baca selengkapnya</button>
          </div>
        </div>-->
        <!--Card 2-->
        <!--<div class="card">
          <img src="../img/Contoh 2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button href="#" class="btn-custom">Baca Selengkapnya</button>
          </div>
        </div>-->
        <!--Card 3-->
        <!--<div class="card">
          <img src="../img/Contoh 2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button href="#" class="btn-custom">Baca Selengkapnya</button>
          </div>
        </div>
      </div>
      </div>-->
    </section>
    <!--End Proker-->

    <!--Footer-->
    <div id="footer"></div>

    

    
    <!--End Footer-->
    
    
    <script src="{% static 'js/index.js' %}?{% now "u"="" %}"=""></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi1yApOeuQiVAeoF1THc8B9wt2heWFJuU&callback=myMap"></script>-->

    </body>
</html>