.jumbotron {
    background-color : rgb(1, 29, 72);
    background-size: 'auto';
    width : 100%;
    color: white;
    padding: 10rem 10rem;
}

#about, #contact {
    color : white;
    background-color:#000b76;
}

#project {
    background-color : rgb(151, 243, 255);
    color: rgb(3, 25, 95);
}

footer {
    background-color: #00003a;
    padding : 3pt;
}

section {
    padding-top: 5rem;
}